input:active, input:focus {
    outline: none;
}

.form-el {
    width: 60%;
}

.input-field {
    width: 50%
}

.sign-up-org {
    background-image: url("./../assets/signback.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -999;
}

@media screen and (max-width: 800px) {
    .input-field{
        width: 80%;
    }
    .form-el {
        width: 100%;
    }
}